@font-face {
    font-family: SocialIco;
    src: url("../fonts/Socialico.ttf");
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: #333333;
}

main {
    display: flex;
    flex-direction: column;
}

h2,
h3,
h4,
h5 {
    color: #445161;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    margin-top: 0;
}

h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

video {
    width: 100%;
}

.padding-main {
    padding: 50px 5%;
}

.product-main {
    color: #fff;
    background-color: #445161;
}

.product-main__container {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-main h1 {
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-size: 59px;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.product-main ul {
    padding: 0 0 0 30px;
    margin: 0;
    /* list-style: inside url(../img/check-icon.png); */
    list-style-image: url(../img/check-icon.png);
}

.product-main ul li {
    padding: 8px 4px;
    font-size: 20px;
}

.about-product__container {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-product__info {
    width: 50%;
}

.img-wrapper {
    width: 48%;
}

.dignity-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding-bottom: 35px;
}

.dignity-product h2 {
    width: 100%;
    text-align: center;
}

.dignity-product__item {
    width: 48%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.dignity-product__item img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 5px;
}

.dignity-product__item p {
    margin: 0;
}

.video-background {
    position: relative;
    color: #fff;
    overflow: hidden;
    height: 30rem;
}

.video-background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;

}

.video-background__onVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-background__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-background h2 {
    text-transform: uppercase;
    font-size: 4em;
    color: #fff;
    text-align: center;
    width: 80%;
}

.video-background p {
    width: 60%;
    text-align: center;
}

.screenshots {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.screenshots h2 {
    width: 100%;
    text-align: center;
}

.screenshots__item {
    display: flex;
    justify-content: space-between;
    width: 48%;
    align-items: flex-start;
    margin-bottom: 30px;
}

.screenshots__item img {
    margin-right: 15px;
    min-width: 200px;
}

.reviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding-bottom: 20px;
}

.reviews h2 {
    width: 100%;
    text-align: center;
}

.reviews__item {
    display: flex;
    justify-content: space-between;
    width: 48%;
    align-items: flex-start;
    margin-bottom: 30px;
}

.reviews__item img {
    margin-right: 25px;
    width: 75px;
}

.reviews__item p {
    margin-top: 0;
}

.reviews__item img {
    border-radius: 50%;
}

.reviews__content {
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.reviews__content::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #ebebeb;
    top: 25px;
    left: -11px;
}

.reviews__content p {
    font-style: italic;
    line-height: 1.29;
}

.reviews__content p:last-child {
    color: #989898;
    font-style: normal;
    margin: 0;
}

.price-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.price-list h2 {
    width: 100%;
    text-align: center;
}

.price-list__container {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.price-list__item {
    display: flex;
    flex-direction: column;
    width: 292px;
    margin: 0 20px 20px 20px;
    background: #445162;
    color: #fff;
    border: 4px solid #445162;
    border-radius: 8px;
}

.price-list__item ol {
    padding-left: 16px;
    margin: 20px;
    font-size: 14px;
}

.price-list__item ol li {
    margin: 10px 0;
}

.white-btn {

    background-color: #fff;
    color: #445162;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
    margin: 20px;
}

.white-btn:hover {
    background-color: #cacaca;
}

.price-list h3 {
    text-align: center;
    margin: 20px;
    color: #fff;
}

.price {
    display: block;
    background-color: #fff;
    color: #445162;
    font-size: 40px;
    text-align: center;
    padding: 18px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    background-color: #445162;
}

.padding-footer {
    padding: 50px 5% 10px;
}

footer h2 {
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    color: #445162;
    padding: 5px;
    font-size: 12px;
}

.contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-form input {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: #445162;
}

.contact-form textarea {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: #445162;
    padding: 14px 10px;
}

.contact-form input::placeholder {
    color: #445162;
}

.contact-form input:not([type="submit"]) {
    padding: 14px 10px;
}

.contact-form textarea {
    margin-bottom: 20px;
}

.contact-form textarea::placeholder {
    color: #445162;
}

.contact-form input[type="submit"] {
    display: block;
    padding: 14px 48px;
    width: 150px;
    align-self: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #445162;
}

.contact-form input[type="submit"]:hover {
    background-color: #cacaca;
}

address {
    padding: 25px;
    width: 31%;
    font-style: normal;
}

address ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

address ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

address ul li img {
    margin-right: 5px;
    width: 22px;
    height: 22px;
}

.social {
    margin: 20px 0;
    font-family: SocialIco, sans-serif;
    color: #ffffff;
    font-size: 60px;
    line-height: 44px;
}

@media only screen and (max-width: 1020px) {
    img {
        width: 100%;
    }

    .img-wrapper {
        width: 100%;
    }

    .product-main ul {
        margin-bottom: 50px;
    }

    .screenshots__item img {
        width: 100%;
        margin-bottom: 20px;
    }

    .screenshots__item {
        flex-wrap: wrap;
    }

    .dignity-product__item {
        width: 100%;
    }

    .reviews__item {
        width: 100%;
    }

    .price-list__container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .price-list__item {
        width: 100%;
    }

    .price-list__item ol {
        margin: 20px auto;
    }

    .about-product__info {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form form {
        align-items: center;
    }

    .contact-form input {
        width: 90%;
    }

    .contact-form textarea {
        width: 90%;
    }

    address {
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    .padding-main {
        padding: 0;
    }

    .product-main ul {
        margin-bottom: 0px;
    }

    .product-main__content {
        padding: 40px 5%;
    }

    .about-product__info {
        padding: 40px 5%;
    }

    .img-wrapper {
        width: 100%;
    }

    .product-main h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .dignity-product {
        padding: 30px 5%;
    }
    .video-background h2 {
        font-size: 2em;;
    }

    .screenshots {
        padding: 30px 5%;
    }

    .screenshots__item {
        width: 100%;
    }

    .reviews {
        padding: 30px 5%;
    }

    .reviews__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reviews__item img {
        margin: 0 0 20px 0;
    }

    .reviews__content::before {
        top: -11px;
        left: calc(50% - 10px);
    }

    .contact-form {
        padding: 0;
    }
    .video-background p {
        width: 80%;
    }
}